<%- include('partials/header') %>

<h1>Sign Up</h1>

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit">Create Account</button>
</form>

<a href="/login">Already have an account? Login</a>

<%- include('partials/footer') %>
